body{
    background-color:lightgray;
    font-family:"Lucida Handwriting";
}
header{
    width:100%;
    color:indianred;
    padding:10px;
}
#game{
    padding:20px;
    width:500px;
    height: 750px;
    background-color:white;
    margin:auto;
}
.grid-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap
}
.pict1{
    width:80px;
    height:120px;
    background-color:lightseagreen;
    overflow:hidden;
}
.pict1>img{
    height:120px;
    visibility: visible;
}
#controlpanel
{
    width:500px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.control{
    color:white;
    background-color: darkcyan;
    padding:20px;
    font-family:"Lucida Handwriting"
}
#score{
    margin:20px;
    color:indianred;
}
